* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Open Sans", sans-serif;
  background-color: #F5F4F0;
}

#page {
  max-width: 1120px;
  width: 100%;
  padding: 0 16px;
  margin: 88px auto;
}

img {
   max-width: 100%;
   border-radius: 24px;
   margin: 64px 0 24px 0;
}

#title p {
   text-align: left;
   font-size: 16px;
   font-weight: bold;   
   color: #E1624F;
}

header#title h1 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1px;
}

#description p {
   padding: 0 15px 0 15px;
   font-size: 16px;
   text-align: center;   
}

#destiny {
    border-bottom: 1px dashed #d9d9d9;
    padding: 40px 0 40px 0; 
}

#destiny h2{
   font-size: 16px;
   font-weight: bold;
   margin-top: 64px;
   color: #E1624F;
}

li {
  list-style: none;
}

h3 {
   font-size: 28px;
   font-weight: bold;
   margin-bottom: 10px;
}

h4 {
   font-size: 28px;
   font-weight: bold;
   margin-bottom: 10px;
}

#history {
  color: #0C51A7;
  font-weight: bold;  
  margin-left: 30px;
}

#couple, #family, #budget {
  font-weight: bold;  
  margin-left: 30px;  
}

#yongdusan-list {
  margin-bottom: 40px;
}

#couple {
  color: #591b98;   
}

#family {
  color: #E5245E;
}

#budget {
  color: #e95e10;
}

footer { 
   text-align: center;
}

footer img {  
  margin: 0 4px;
  vertical-align: middle;
}
